.main {
  display: flex;
  flex-direction: column;
  &-title {
    display: block;
    text-transform: uppercase;
    font-size: 3rem;
    padding: 1rem;
    border-radius: 5px;
    border: 5px solid  rgb(243, 135, 11,);
    align-self: center;
  }
  &-games {
    justify-content: center;
  }
}

.pagination {
  margin-top: 1rem;
  font-size: 1.7rem !important;
  align-self: center;
}

.pagination > .item {
  color: rgba(243, 135, 11, 0.774) !important;
}

.active {
  border-color:rgba(243, 135, 11, 0.774) !important;
}

@media (max-width: 600px) {
  .pagination > .item {
    width: 1px !important;
    margin: 0 -13px !important;
  }
}